# Requirements file for the Restaurant Recommendation System - Group 30

# Python version
python=3.10.13

## Required libraries
numpy=1.25.2
pandas=2.0.3
scikit-learn=1.3.0
matplotlib=3.7.2

# ASR libraries
pyaudio=0.2.11
SpeechRecognition=3.10.0
scipy=1.11.1